<nav class="navbar navbar-expand navbar-light bg-light">

  <a *ngIf="user$|async" (click)="toggleSidenav()" class="nav-link text-left">
    <i class="material-icons align-middle">menu</i>
  </a>

  <div class="container">
    <a class="navbar-brand">Awesome List</a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li [class.active]="isActive(homePath)" class="nav-item">
            <a (click)="navigate(homePath)" class="nav-link">Accueil</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" [class.active]="isActive(loginPath)">
            <a (click)="navigate(loginPath)" class="nav-link">Connexion</a>
          </li>
          <li class="nav-item" [class.active]="isActive(registerPath)">
            <a (click)="navigate(registerPath)" class="nav-link">Inscription</a>
          </li>
        </ul>
      </div>

  </div>
</nav>
