<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Awesome List</a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link">Accueil</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Inscription</a>
          </li>
        </ul>
      </div>

  </div>
</nav>
