<div [formGroup]="workdayForm">
  <div formArrayName="tasks">
    <al-workday-form-tasks-item
      *ngFor="let task of tasks.controls; index as i; first as isFirst; last as isLast;"
      [index]="i"
      [isFirst]="isFirst"
      [isLast]="isLast"
      [task]="task"
      (removedTask)="onRemovedTask($event)">
    </al-workday-form-tasks-item>
  </div>
  <div class="text-center">
    <al-workday-form-tasks-add
      *ngIf="tasks.controls.length < 6"
      (addedTask)="onAddedTask()">
    </al-workday-form-tasks-add>
  </div>
</div>
