<form novalidate [formGroup]="registerForm" (ngSubmit)="submit()" class="card-body">

  <!-- Name field -->
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" type="name" formControlName="name" class="form-control" placeholder="Votre peusdonyme" autocorrect="off"/>
    <small *ngIf="name.errors && name.dirty" class="form-text text-muted">
      <span [hidden]="!name.errors.required">Nom requis.</span>
      <span [hidden]="!name.errors.minlength">Le nom doit faire plus de 4 caractères.</span>
      <span [hidden]="!name.errors.maxlength">Le nom doit faire moins de 20 caractères.</span>
      <span [hidden]="!name.errors.pattern">Le nom ne doit contenir que des lettres, des chiffres, '-' ou '_'.</span>
    </small>
  </div>

  <!-- Email field -->
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" class="form-control" placeholder="Votre email" autocorrect="off"/>
    <small *ngIf="email.errors && email.dirty" class="form-text text-muted">
      <span [hidden]="!email.errors.required">Email requis.</span>
      <span [hidden]="!email.errors.email">Entrez une adresse email valide.</span>
    </small>
  </div>

  <!-- Password field -->
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" class="form-control" placeholder="Votre mot de passe"/>
    <small *ngIf="password.errors && password.dirty" class="form-text text-muted">
      <span [hidden]="!password.errors.required">Mot de passe requis.</span>
      <span [hidden]="!password.errors.minlength">Le mot de passe doit faire plus de 6 caractères.</span>
      <span [hidden]="!password.errors.maxlength">Le mot de passe doit faire moins de 20 caractères.</span>
    </small>
  </div>

  <!-- Submit form -->
  <p class="text-center py-3">
    <button type="submit" class="btn" [disabled]="!registerForm.valid" [ngClass]="{'btn-success' : registerForm.valid, 'btn-default' : !registerForm.valid}">
      Inscription
    </button>
  </p>
</form>
