<form novalidate [formGroup]="registerForm" (ngSubmit)="submit()" class="card-body">

  <!-- Name field -->
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" type="name" formControlName="name" class="form-control" placeholder="Votre peusdonyme" autocorrect="off" autocomplete="off"/>
  </div>

  <!-- Email field -->
  <div class="form-group">
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email" class="form-control" placeholder="Votre email" autocorrect="off" autocomplete="off"/>
  </div>

  <!-- Password field -->
  <div class="form-group">
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" class="form-control" placeholder="Votre mot de passe"/>
  </div>

  <!-- Submit form -->
  <p class="text-center py-3">
    <button type="submit" class="btn" [disabled]="!registerForm.valid">
      Inscription
    </button>
  </p>
</form>
